body {
    font-family: Arial, sans-serif;
    background-color: #9720ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    margin: 10px;
}

.container {
    max-width: 100%;
    padding: 20px;
    background-color: #f7f3e6; 
    border-radius: 8px;
    border: 2px solid black;
    overflow: hidden; 
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000; 
}

#input {
    width: calc(100% - 20px);
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

button {
    padding: 10px 19px;
    font-size: 16px;
    cursor: pointer;
    background-color: #9775fa; 
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
    border: 2px solid #000000;
}

button:hover {
    background-color: #000000; 
}

#keyboard {
    margin-bottom: 20px;
}

.row {
    display: flex;
}

.row button {
    flex: 1;
    margin: 5px;
    padding: 10px;
    background-color: #9775fa;
    border: 2px solid #000000;
}

.row button:hover {
    background-color: #000000;
}